/*Registreringsskjema css */
* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background: #f8f8ff;
  }
  
  .header {
    width: 100%;
    color: white;
    background: #5f9ea0;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  
/* Wrapper for the form */
.form-wrapper {
  display: flex; /* Display as flexbox */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 30%; /* Width of the form wrapper */
  margin: 50px auto; /* Center the form wrapper with margin */
  border: 1px solid #b0c4de; /* Light blue border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  background: white; /* White background */
}

/* Style for the form element */
form {
  width: 100%; /* Full width */
  padding: 20px; /* Padding inside the form */
}

/* Style for input groups */
.input-group {
  margin: 10px 0px 10px 0px; /* Margin around input groups */
}

/* Style for button groups within input groups */
.input-group.button-group {
  display: flex; /* Display as flexbox */
  justify-content: center; /* Center buttons horizontally */
}

/* Style for content sections */
.content {
  width: 30%; /* Width of the content section */
  margin: 0px auto; /* Center the content section */
  padding: 20px; /* Padding inside the content section */
  border: 1px solid #b0c4de; /* Light blue border */
  background: white; /* White background */
  border-radius: 0px 0px 10px 10px; /* Rounded bottom corners */
}