/* global */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* navbar */
.navbar {
  background-color: #333;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* list in navbar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}
/* links in navbar */
.navbar ul li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}

footer a {
  color: #333;
  text-decoration: none;
}

.user-info {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15);
  height: 35px;
  line-height: 30px;
  color: #000;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
}
